<div class="general">
    <div class="container cursos">
        <div *ngFor="let item of collection">
            <div class="row1-container">
                <div class="box red" style="background-color: white;">
                    <img src="{{item.imageURL}}" alt="{{item.curso}}" style="width: 10%;">
                    <h2>{{item.curso}}</h2>
                    <!-- <p class="card__apply" (click)="navigate(idGrado, item.id, item.curso, type_user)"><a>Ver los Temas<i class="fa fa-edit"></i></a></p> -->
                    <p class="card__apply" (click)="vertemas(item.id, item.curso)"><a>Ver los Temas<i class="fa fa-edit"></i></a></p>
                </div>
            </div>
        </div>
    </div>

</div>