.col-9 {
    margin-left: 18vw !important;
    margin-top: -45vw !important;
    height: 40vw !important;
    width: 80% !important;
    position: absolute;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}