@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
* {
    box-sizing: border-box;
}

.data-card {
    display: flex;
    flex-direction: column;
    max-width: 20.75em;
    // min-height: 20.75em;
    overflow: hidden;
    border-radius: .5em;
    text-decoration: none;
    background: white;
    margin: 1em;
    padding: 2.75em 2.5em;
    box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
    transition: transform .45s ease, background .45s ease;
    h3 {
        color: #2E3C40;
        font-size: 3.5em;
        font-weight: 600;
        line-height: 1;
        padding-bottom: .5em;
        margin: 0 0 0.142857143em;
        border-bottom: 2px solid rgb(19, 0, 102);
        transition: color .45s ease, border .45s ease;
    }
    h4 {
        color: #627084;
        text-transform: uppercase;
        font-size: 1.125em;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.1em;
        margin: 0 0 1.777777778em;
        transition: color .45s ease;
    }
    p {
        opacity: 0;
        color: #FFFFFF;
        font-weight: 600;
        line-height: 1.8;
        margin: 0 0 1.25em;
        transform: translateY(-1em);
        transition: opacity .45s ease, transform .5s ease;
    }
    .link-text {
        display: block;
        color: rgb(19, 0, 102);
        font-size: 1.125em;
        font-weight: 600;
        line-height: 1.2;
        margin: auto 0 0;
        transition: color .45s ease;
        svg {
            margin-left: .5em;
            transition: transform .6s ease;
            path {
                transition: fill .45s ease;
            }
        }
    }
    &:hover {
        cursor: pointer;
        background: rgb(19, 0, 102);
        transform: scale(1.02);
        h3 {
            color: #FFFFFF;
            border-bottom-color: rgb(19, 0, 102);
        }
        h4 {
            color: #FFFFFF;
        }
        p {
            opacity: 1;
            transform: none;
        }
        .link-text {
            color: #FFFFFF;
            svg {
                animation: point 1.25s infinite alternate;
                path {
                    fill: #FFFFFF;
                }
            }
        }
        .image {
            height: 50px;
            width: 50px;
            z-index: 999;
            background-image: url('http://assets.stickpng.com/images/58e9117beb97430e819064d6.png');
            background-size: cover;
            background-position: center;
        }
    }
}

@keyframes point {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(.125em);
    }
}