.contenido {
    height: 0;
    margin:0px 30px;
    overflow: hidden;
    transition: all .5s ease;
}
.titulo{
    height: 30px;
}
.bloque.activo .contenido{
    height: auto;
}
.alternativa{
    width: 60%;
    text-align: center;
}


.mostrar {
    display: block;
}
.ocultar {
display: none;
}
p{
    margin: 0;
}

// css del modal 
.modal-agregar{
    z-index: 99;
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
}
.modal-agregar.activo{
    opacity: 1; 
    visibility: visible;
}
.contenedor{
    width: 1000px;
    height: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 1px 3px 5px rgba(80, 80, 80, 0.7);
    transition: all 500ms ease;
    position: relative;
    transform: translateY(-30%);
    border-radius: 6px;

}
.contenedor.activo{
    transform: translateY(0%);
}
.contenedor .cabeza{
    border-radius: 5px 5px 0px 0px;
    background: rgb(12, 89, 204);
    padding:10px;
    color: #fff;
}
.cerrar{
    cursor: pointer;
}
// css de elementos
.elemento{
    margin:10px;
    transition: all 500ms ease;
    
}
.elemento:hover{
margin-left: 0px;
margin-right: 0px;
}
.pluss-elemento{
    cursor: pointer;
    opacity: 0.8;
}
.pluss-elemento:hover{
   opacity: 1;
}
.selector-elemento{
    cursor: grab;
    opacity: 0.8;
}
.selector-elemento:hover{
    opacity: 1;
 }
 .identificador-entrada{
     width: 20px;
 }
 .espacio-entrada{
     width: 20px;
 }
 .divider-elemento{
     margin-top:12px;
     background: #000000;
 }