<div class="col-9">

    <div class="header">
        <h1>{{name_subtema}}</h1>
        <div class="row">
            <div class="col-sm-10">
                <p></p>
            </div>

        </div>
    </div>
    <div class="col-sm-2">
        <button style="background-color: hsl(180, 62%, 55%) !important" type="button" class="btn btn-success" (click)="openSave(content)">Agregar</button>
    </div>
    <div class="row1-container" *ngFor="let item of collection">
        <div class="box cyan">
            <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
            <p>Pregunta: {{item.pregunta}}</p>
            <p>Descripcion: {{item.descripcion}}</p>
            <p>Alternativas: {{item.alternativas}}</p>
            <p>Respuesta: {{item.respuesta}}</p>
            <div class="row">
                <div class="col-sm-2">
                    <p class="card__apply" (click)="openEditar(content, item)"><a>Editar<i class="fa fa-edit"></i></a></p>
                </div>
                <!-- <div class="col-sm-3">
                <p class="card__apply" routerLink="/administrar-preguntas/{{item.id}}/{{item.subtema}}"><a>Ver los subtemas<i class="fas fa-arrow-right"></i></a></p>
            </div> -->
                <div class="col-sm-6">
                    <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Crear Pregunta</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <form [formGroup]="managerForm">
                    <div class="form-group">
                        <label>Pregunta</label>
                        <input type="text" formControlName="pregunta" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        <input type="text" formControlName="descripcion" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Alternativas</label>
                        <input type="text" formControlName="alternativas" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Respuesta</label>
                        <input type="text" formControlName="respuesta" class="form-control">
                    </div>
                </form>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="guardar()" *ngIf="!actualizar">Guardar</button>
        <button type="button" class="btn btn-outline-dark" (click)="actualiza()" *ngIf="actualizar">Actualizar</button>
    </div>
</ng-template>