<div class="modal_final" [style]=" visibility_modal_final == 0 ? 'visibility: hidden': 'visibility: visible' ">
    <div class="container" style="margin-left: 50px;">
        <div class="container" style="margin-top: 50px; width: 100%;">
            <div class="container">
                <div class="container" style="width: 500px; height: 500px; margin-inline: auto; padding-top: 15px;">
                    <div class="container" id="backg" style='background-color: #eceff1; width: 320px; height: 480px; border-radius: 25px; margin-inline: auto;'>

                        <div class="head-alert" style="height: 58%;">
                            <div class="rocket">
                                <span class="fins"></span>
                            </div>
                            <p class="texto">Registrando tus respuestas</p>
                        </div>
                        <div class="body-alert">
                            <p class="body-info">Total Preguntas: {{collection_de_preguntas_completo.length}}</p>
                            <p class="body-info">Total Correctas: {{rpta_correcta}}</p>
                            <p class="body-info">Total Incorrectas: {{rpta_incorrecta}}</p>
                            <p class="body-info final">Nota Final: {{notafinal}}</p>
                        </div>
                        <div class="body-footer" style="text-align-last: center;">
                            <button class="button-box" [style]="visibility_modal_btn_final == 0 ? 'visibility: hidden': 'visibility: visible'" (click)="retroceder()"> CERRAR </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-rpta [rpta]='rpta_modal' [rpta_si_no]='rpta_si_no' (close)=cerrarAlert($event)></app-rpta> -->
<div class="container" style="max-width: none; height:130vh; padding-top: 20px; background-image: url('https://images.vexels.com/media/users/3/145252/raw/02dabb44e9ba039fe76c8f08dd67172a-lanzamiento-de-cohete-al-espacio-ilustracion.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="header">
        <div class="container" style="margin: 20px;">
            <div class="row">
                <div class="col-10">
                    <h1 style="color: white; font-weight: bold;">{{tema}}</h1>
                </div>
                <div class="col-2" style="align-self: center;">
                    <button class="btn btn-danger" (click)="retroceder()">Salir</button>
                </div>
            </div>
        </div>
        <div class="pt-2" style="background-color: transparent;">
            <div class="card mb-3" style="background-color: transparent;">
                <div class="card-body" style="background-color: transparent;">
                    <div class="row" style="background-color: transparent;">
                        <div class="col-md-10" style="background-color: transparent;">
                            <app-steps-preguntas (correct)="evaluar($event)" [preguntas]="collection_de_preguntas_completo" (finish)="finish($event)"></app-steps-preguntas>
                        </div>
                        <div class="col-md-2">
                            <div class="card border-success mb-1 cardInfo">
                                <div class="card-body text-success text-center">
                                    <p class="card-text">TIEMPO TRANSCURRIDO</p>
                                    <h3 class="card-title">{{tiempo_transcurrido}}</h3>
                                </div>
                            </div>
                            <div class="card border-success mb-1 cardInfo">
                                <div class="card-body text-success text-center">
                                    <p class="card-text">TOTAL CORRECTOS</p>
                                    <h3 class="card-title">{{rpta_correcta}}</h3>
                                </div>
                            </div>
                            <div class="card border-danger mb-1 cardInfo">
                                <div class="card-body text-danger text-center">
                                    <p class="card-text">TOTAL INCORRECTOS</p>
                                    <h3 class="card-title">{{rpta_incorrecta}}</h3>
                                </div>
                            </div>
                            <div class="card border-info mb-1 cardInfo">
                                <div class="card-body text-info text-center">
                                    <p class="card-text">TOTAL PREGUNTAS</p>
                                    <h3 class="card-title">{{collection_de_preguntas_completo.length}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>