<div size="lg" class="rtpa_general" [style]=" rpta != 1 ? 'visibility: hidden;':'visibility: visible;' ">
    <div id="container" style="height: 250px;">
        <div *ngIf="rpta_si_no == 1 ">

            <div id="success-box">
                <div class="dot" (click)="cerrar()">
                    <p style="font-size: x-small; text-align: center;">x</p>
                </div>
                <div class="face">
                    <div class="eye"></div>
                    <div class="eye right"></div>
                    <div class="mouth happy"></div>
                </div>
                <div class="shadow scale"></div>
                <div class="message">
                    <h1 class="alert">¡Bien!</h1>
                    <p>Respuesta correcta.</p>
                </div>
                <button class="button-box" (click)="next()">
                    <h1 class="green">CERRAR</h1>
                </button>
            </div>
        </div>

        <div *ngIf="rpta_si_no== 0">
            <div id="error-box">
                <div class="dot" (click)="cerrar()">
                    <p style="font-size: x-small; text-align: center;">x</p>
                </div>
                <div class="face2">
                    <div class="eye"></div>
                    <div class="eye right"></div>
                    <div class="mouth sad"></div>
                </div>
                <div class="shadow move"></div>
                <div class="message">
                    <h1 class="alert">¡MAL!</h1>
                    <p>Respuesta incorrecta.</div>
                <button class="button-box" (click)="next()"><h1 class="red">CERRAR</h1></button>
            </div>
        </div>

    </div>
</div>