<div class="col-9">

    <div class="header">
        <h1>Tema: {{name_tema}}</h1>
        <div class="row">
            <div class="col-sm-10">
                <p></p>
            </div>
            <div class="col-sm-2">
                <button *ngIf="type_user!='Estudiante'" style="background-color: hsl(180, 62%, 55%) !important"
                    type="button" class="btn btn-success" (click)="openSave(content)">Agregar</button>
            </div>
        </div>
    </div>

    <div class="row1-container" *ngFor="let item of collection">
        <div class="box cyan">
            <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
            <h2>{{item.subtema}}</h2>
            <div class="row">
                <div *ngIf="type_user!='Estudiante'" class="col-sm-2">
                    <p class="card__apply" (click)="openEditar(content, item)"><a>Editar<i class="fa fa-edit"></i></a>
                    </p>
                </div>
                <div class="col-sm-3">
                    <p class="card__apply" (click)="navigate(item.id, item.subtema, type_user)"><a>Ver las preguntas<i
                                class="fa fa-eye"></i></a></p>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Estudiante create/update</h4>
        <button type="button" class="close btn btn-primary" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <form [formGroup]="managerForm">
                    <div class="form-group">
                        <label>SubTema</label>
                        <input type="text" formControlName="subtema" class="form-control">
                    </div>
                    <div class="form-group ">
                        <label for="">Posicion Ruta</label>
                        <div class="w-100 d-flex d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="posicionRuta" formControlName="posicionRuta"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Inicial
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="posicionRuta" formControlName="posicionRuta"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    random
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="posicionRuta" formControlName="posicionRuta"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    final
                                </label>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="guardar()" *ngIf="!actualizar">Guardar</button>
        <button type="button" class="btn btn-outline-dark" (click)="actualiza()" *ngIf="actualizar">Actualizar</button>
    </div>
</ng-template>