<div class="container" style="margin-left: 50px; margin-left: 10%;">
    <div class="container" style="margin-top: 50px; width: 100%;">
        <div class="container">
            <div class="container" style="width: 500px; height: 500px; margin-inline: auto; padding-top: 15px;">
                <div class="container" id="backg" style='width: 320px; height: 480px; border-radius: 25px; margin-inline: auto;'>
                    <div class="container" style="width: 100%; text-align: center; top: -60px; position: relative; ">
                        <img *ngIf="type_user == 'Profesor'" data-name="img_profesora" src="./../../../../assets/img_profesora.png" style=" height: 130px;">
                        <img *ngIf="type_user == 'Profesor'" data-name="img_profesor" src="./../../../../assets/img_profesor.png" style=" height: 130px;">
                        <img *ngIf="type_user == 'Alumno'" data-name="img_profesora" src="./../../../../assets/img_alumnos_dt.png" style=" height: 130px;">
                    </div>
                    <div class="container" style="text-align: center; width: 100%; color: white; font-weight: bolder; font-size: 20px; top: -40px; position: relative;">
                        <span>LOGIN {{type_user}}</span>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="onLogin(type_user)">

                        <div class="container" style=" width: 80%; margin-inline: auto;">
                            <div class="container">
                                <span style="color: white; font-weight: bolder; font-size: 18px;"> Correo </span>
                            </div>
                            <div class="container">
                                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email" style="height: 5.5vh; margin-top: 2%; width: 100%; border-radius: 10px; padding: 3%;font-size: 15px; ">
                            </div>
                        </div>

                        <div class="container" style=" width: 80%; margin-inline: auto; margin-top: 20px;">
                            <div class="container">
                                <span style="color: white; font-weight: bolder; font-size: 18px;"> Contraseña </span>
                            </div>
                            <div class="container">
                                <input type="password" class="form-control" placeholder="Password" formControlName="password" style="height: 5.5vh; margin-top: 2%; width: 100%; border-radius: 10px; padding: 3%;font-size: 15px;">
                            </div>
                        </div>

                        <div class="container" style=" width: 80%; margin-inline: auto; margin-top: 50px; text-align: center;">
                            <div type="submit" data-type="Group" data-name="btn_ingresar" class="btn_ingresar_Class">
                                <button type="submit" class="btn btn-primary text_ingresar_Class" style="width: 100%;height: 80%; font-size: 18px;">Login</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="container" style="text-align-last: center;">
            <img data-type="Rectangle" data-name="button_google" src="./../../../../assets/button_google.png" style="margin-right: 5px; margin-left: 5px;">

            <img data-type="Rectangle" data-name="button_facebook" src="./../../../../assets/button_facebook.png" style="margin-right: 5px; margin-left: 5px;">
        </div>
    </div>
</div>