.mediaViewInfo {
    --web-view-name: v_doc_login;
    --web-view-id: v_doc_login;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: fit;
    --web-enable-scale-up: true;
    --web-scale-on-resize: true;
    --web-center-horizontally: true;
    --web-center-vertically: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: v_doc_login;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.v_doc_login_Class {
    position: absolute;
    width: 1280px;
    height: 800px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    --web-view-name: v_doc_login;
    --web-view-id: v_doc_login;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: fit;
    --web-enable-scale-up: true;
    --web-scale-on-resize: true;
    --web-center-horizontally: true;
    --web-center-vertically: true;
    --web-enable-deep-linking: true;
}

.button_google_Class {
    position: absolute;
    width: 210px;
    height: 46px;
    left: 410px;
    top: 670px;
    overflow: visible;
}

.button_facebook_Class {
    position: absolute;
    width: 210px;
    height: 46px;
    left: 640px;
    top: 670px;
    overflow: visible;
}

.div_general_Class {
    position: absolute;
    width: 393px;
    height: 602px;
    left: 443px;
    top: 57px;
    overflow: visible;
}

.div_fondo_Class {
    fill: rgba(37, 162, 220, 1);
}

.div_fondo {
    position: absolute;
    overflow: visible;
    width: 393px;
    height: 523px;
    left: 0px;
    top: 79px;
}

.input_correo_Class {
    position: absolute;
    width: 266px;
    height: 270px;
    left: 64px;
    top: 286px;
    overflow: visible;
}

.btn_ingresar_Class {
    position: absolute;
    width: 164px;
    height: 34px;
    left: 50px;
    top: 236px;
    overflow: visible;
}

.btn_ingresar_ {
    position: absolute;
    overflow: visible;
    width: 164px;
    height: 34px;
    left: 0px;
    top: 0px;
}

.text_ingresar_Class {
    background-color: rgba(85, 98, 112, 1);
    cursor: pointer;
}

.div_correo_Class {
    fill: rgba(255, 255, 255, 0.62);
}

.div_correo {
    position: absolute;
    overflow: visible;
    width: 266px;
    height: 45px;
    left: 0px;
    top: 28px;
}

.text_correo_Class {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 49px;
    white-space: nowrap;
    text-align: left;
    font-family: Tw Cen MT;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
}

.input_contrasenia_Class {
    position: absolute;
    width: 266px;
    height: 73px;
    left: 64px;
    top: 385px;
    overflow: visible;
}

.div_contrasenia_Class {
    fill: rgba(255, 255, 255, 0.62);
}

.div_contrasenia {
    position: absolute;
    overflow: visible;
    width: 266px;
    height: 45px;
    left: 0px;
    top: 28px;
}

.text_contrasenia_Class {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 86px;
    white-space: nowrap;
    text-align: left;
    font-family: Tw Cen MT;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

.Grupo_227_Class {
    position: absolute;
    width: 150px;
    height: 205px;
    left: 122px;
    top: 0px;
    overflow: visible;
}

.text_login_docente_Class {
    left: 0px;
    top: 182px;
    position: absolute;
    overflow: visible;
    width: 151px;
    white-space: nowrap;
    text-align: left;
    font-family: Tw Cen MT;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    color: rgba(255, 255, 255, 1);
}

.img_profesor_Class {
    position: absolute;
    width: 79px;
    height: 151px;
    left: 65px;
    top: 0px;
    overflow: visible;
}

.img_profesora_Class {
    position: absolute;
    width: 37px;
    height: 145px;
    left: 28px;
    top: 6px;
    overflow: visible;
}