* {
    margin: 0;
    padding: 0;
}

.v_index_Class {
    width: 100%;
    height: 90vh;
    // background-color: red;
    background-color: rgba(255, 255, 255, 1);
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.button_alumnos_Class {
    position: relative;
    cursor: pointer;
}

.div_alumnos_Class {
    fill: rgba(243, 225, 60, 1);
}

.div_alumnos {
    position: absolute;
    overflow: visible;
    width: 266px;
    height: 355px;
    left: 0px;
    top: 0px;
}

.text_alumnos_Class {
    left: 60px;
    top: 306px;
    position: absolute;
    overflow: visible;
    width: 145px;
    white-space: nowrap;
    text-align: left;
    font-family: Tw Cen MT;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
}

.img_alumnos_dt_Class {
    position: absolute;
    width: 227px;
    height: 225px;
    left: 19px;
    top: 58px;
    overflow: visible;
}

.button_docentes_Class {
    position: relative;
    cursor: pointer;
}

.div_docentes_Class {
    fill: rgba(37, 162, 220, 1);
}

.div_docentes {
    position: absolute;
    overflow: visible;
    width: 266px;
    height: 355px;
    left: 0px;
    top: 0px;
}

.img_profesor_Class {
    position: absolute;
    width: 143px;
    height: 279px;
    left: 113px;
    top: 22px;
    overflow: visible;
}

.text_docentes_Class {
    left: 79px;
    top: 304px;
    position: absolute;
    overflow: visible;
    width: 106px;
    white-space: nowrap;
    text-align: left;
    font-family: Tw Cen MT;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    color: rgba(255, 255, 255, 1);
}

.img_profesora_Class {
    position: absolute;
    width: 68px;
    height: 270px;
    left: 45px;
    top: 31px;
    overflow: visible;
}

.card .card-header img {
    width: 40px;
    height: 40px;
}

.card .card-header .card-title {
    color: #575962;
    font-size: 18px;
    padding-top: 3px;
}

.content .card {
    left: 17vw;
    margin-bottom: 30px;
    min-width: 300px;
    width: 60%;
    box-shadow: 0px 1px 0px 1px rgb(103 101 109 / 8%);
    border-radius: 6px;
}

.col-9 {
    margin-left: 18vw !important;
    margin-top: -45vw !important;
    height: 40vw !important;
    position: absolute;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}