

<div  *ngIf="user$ | async as user; else login" >
    
    <div class="row">
        <div class="col-md-3">
            <app-grados [grado]="grado" *ngFor="let grado of grados" (click)="seleccionarGrado(grado.id)"></app-grados>
        </div>
        <div class="col-md-9 p-5">
            <app-listado-estudiantes *ngIf="validarRol()" [estudiantes]="estudiantes" (codigoEstudiante)="cargaInformacion($event)"></app-listado-estudiantes>
            <hr>
            <ng-container  *ngIf="validarUsuarioSeleccionado(); else elseTemplate">
                <app-reporte-tiempo #reporteTiempo [datosGrafico]="datosGrafico"></app-reporte-tiempo>
                <div class="row">
                    <div class="col-md-4">
                        <app-reporte-pastel [datosGrafico]="datosGraficoPie"></app-reporte-pastel>
                    </div>
                    <div class="col-md-8 ">
                        <app-reporte-intentos [listaIntentos]="listaIntentos"></app-reporte-intentos>
                    </div>
                </div>   
            </ng-container>
            <ng-template  #elseTemplate>
                <h4>Seleccionar un estudiante para obtener información  </h4>
            </ng-template>       
        </div>   
    </div>
</div>

<ng-template #login>

    <!-- <app-home></app-home> -->
    <div id="v_index" class="v_index_Class">
        <div style="position: relative; width: 100%; top:6vh; text-align: center; padding: 20px;">
            <a style="font-family: 'Courier New', Courier, monospace; font-size: 4vh; zoom: 2;">E-Learning Platform</a>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-6">
                <div class="container" style="direction: rtl;" routerLink="/login/Alumno">
                    <img data-type="Rectangle" style="margin-right: 40px; margin-top: 50px;cursor: pointer;" data-name="img_alumnos " src="./../../../../assets/alumnos.png " srcset="./../../../../assets/alumnos.png 1x ">
                </div>
            </div>
            <div class="col-6 ">
                <div class="container" routerLink="/login/Profesor">
                    <img data-type="Rectangle" style="margin-left: 40px; margin-top: 50px; cursor: pointer;" data-name="img_alumnos " src="./../../../../assets/docentes.png " srcset="./../../../../assets/docentes.png 1x ">
                </div>
            </div>
        </div>
    </div>
</ng-template>