<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="container">
    <div class="col-md-12" style=" 100%;padding-left: 12%;">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- COMANDOS DE AYUDA -->
<!-- CREAR UN SERVICIO: ng g service infraestructure/driven-adapter/<<name-service>>/<<name-service>> -->
<!-- CREAR UN COMPONENTE: ng g c UI/view-models/<<name-component>> -->
<!-- CREAR UN MODULO: ng g m UI/view-models/<<name-module>> -m=app --route <<name-module>> -->

<!-- DEPENDENCIAS USADAS -->
<!-- FIREBASE: npm i --save firebase @angular/fire -->
<!-- BOOTSTRAP: ng add @ng-bootstrap/ng-bootstrap -->
<!-- PAGINADOR: npm install ngx-pagination --save -->
<!-- PAGINADOR: npm install ngx-pagination --save -->
<!-- INSTALAR FIREBASE-TOOLS: sudo npm install -g firebase-tools -->
<!-- LOGUEARSE EN FIREBASE: firebase login -->
<!-- AGREGAR FIREBASE AL PROYECTO: ng add @angular/fire -->
<!-- INSTALAR FIREBASE: npm install --save firebase -->