<app-navbar></app-navbar>
<div class="row">
    <app-sidebar></app-sidebar>
    <router-outlet></router-outlet>
</div>
<footer>
    <p class="attribution">
        Powered by ABC Team
    </p>
</footer>

<!-- COMANDOS DE AYUDA -->
<!-- CREAR UN SERVICIO: ng g service infraestructure/driven-adapter/<<name-service>>/<<name-service>> -->
<!-- CREAR UN COMPONENTE: ng g c UI/view-models/<<name-component>> -->
<!-- CREAR UN MODULO: ng g m UI/view-models/<<name-module>> -m=app --route <<name-module>> -->

<!-- DEPENDENCIAS USADAS -->
<!-- FIREBASE: npm i --save firebase @angular/fire -->
<!-- BOOTSTRAP: ng add @ng-bootstrap/ng-bootstrap -->
<!-- PAGINADOR: npm install ngx-pagination --save -->
<!-- PAGINADOR: npm install ngx-pagination --save -->
<!-- INSTALAR FIREBASE-TOOLS: sudo npm install -g firebase-tools -->
<!-- LOGUEARSE EN FIREBASE: firebase login -->
<!-- AGREGAR FIREBASE AL PROYECTO: ng add @angular/fire -->
<!-- INSTALAR FIREBASE: npm install --save firebase -->