h1{
    color: darken(rgb(0, 0, 0),10%);
    font-family: "Fredoka One";
    text-transform: uppercase;
    font-size: 4em;
    line-height: 0.7em;
}
.attribution {
	font-size: 11px;
	text-align: center;
	a {
		color: hsl(228, 45%, 44%);
	}
}