.alternativa-alternativa{
    width: 20%;
    transition: all 500ms ease;
}
.alternativa-alternativa:hover{
    width: 22%;
    opacity: 0.8;
    cursor: pointer;
}
.alternativa-pregunta{
width: 40%;
}
.pos-pregunta{
    width: 30px;
}