<app-charge-coehete [style]="visibilidad == 0 ? 'visibility: hidden': 'visibility: visible'"></app-charge-coehete>
<div class="general_practicar_temas">

    <div class="container">
        <div class="header">
            <div class="container">
                <h1 style="color: white; font-weight: bolder;">{{nameCurso}}</h1>
            </div>

            <div class="row bodySub">
                <div class="col-md-4" *ngFor="let itema of collectionSub">
                    <div class="card border-warning mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h5 class="card-title" style="text-align: start;">{{itema.tema}}</h5>
                                </div>
                                <div class="col-4">
                                    <!-- <h5 style="font-size: 10px; text-align: end;">{{itema.time}}</h5> -->
                                </div>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted">{{itema.orden}}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">ULTIMO PUNTAJE {{itema.puntaje}}/20</h6>
                        </div>
                        <div class="card-footer bg-transparent ">
                            <button (click)="practicar('aprender', itema.id, itema.tema)" class="aprender"><i class="fa fa-edit"></i>Aprender</button>
                            <button (click)="practicar('reforzar', itema.id, itema.tema)" class="reforzar"><i class="fa fa-edit"></i>Reforzar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-charge-coehete></app-charge-coehete> -->