#alter_X {
    border: 1px solid green;
    border-radius: 5%;
    color: green;
    cursor: pointer;
}

#alter_X :hover {
    background-color: green;
    color: white;
}

.correct {
    color: white !important;
    background-color: green;
    cursor: not-allowed;
}

.incorrect {
    color: white !important;
    background-color: red !important;
    border: 1px solid red !important;
    cursor: not-allowed !important;
}

#next {
    background-color: transparent;
    border: thick;
    border: 1px solid green;
    color: green;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}

#finish {
    background-color: transparent;
    border: thick;
    border: 1px solid red;
    color: red;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}