<div class="col-3" *ngIf="user$ | async as user; else login">
    <nav id="sidebar" class="navbar sticky-top">
        <div class="navbar-header">
            <img src="../../../../favicon.ico" class="rounded-circle" alt="Profile picture">
            <h5 class="navbar-brand m-1 text-white pl-2"> . Prueb</h5>
        </div>

        <ul class="navbar-nav">
            <li class="nav-item active">
                <a routerLink="/" *ngIf="user" class="nav-link btn btn-block btn-lg">
                    <i class="fas fa-newspaper fa-lg mr-1"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/administrar-usuarios" *ngIf="user" class="nav-link btn btn-block btn-lg">
                    <i class="fas fa-address-book"></i>
                    <span>Administrar usuarios</span>
                    <span class="badge badge-pill green d-flex align-items-center justify-content-center">14</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/grados-academicos/Estudiante" *ngIf="user" class="nav-link btn btn-block btn-lg">
                    <i class="fas fa-file-alt fa-lg mr-1"></i>
                    <span>Grados</span>
                    <span class="badge badge-pill green d-flex align-items-center justify-content-center">6</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="./attendance.html" class="nav-link btn btn-block btn-lg">
                    <i class="far fa-user-circle fa-lg mr-1"></i>
                    <span>Attendance</span>
                    <span class="badge red d-flex align-items-center justify-content-center">New</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<ng-template #login>
</ng-template>