/* Sidebar */

#sidebar {
    grid-area: sidebar;
    width: 18%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 0 !important;
    background-image: linear-gradient(rgba(0, 0, 2, 0.8), rgba(0, 0, 0, 1));
}

#sidebar .navbar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(2, 2, 7, 0.8));
}

#sidebar .navbar-header .navbar-brand {
    font-family: lobster;
}

#sidebar .navbar-nav {
    margin: 30px 15px;
}

#sidebar .navbar-header img {
    width: 35px;
}

#sidebar .btn {
    margin: 7px 0;
    padding: 10px;
    text-transform: uppercase;
    text-align: left;
    background: linear-gradient(rgba(238, 238, 238, 0.1), rgba(255, 255, 255, 0.1));
}

#sidebar .btn:hover {
    background: linear-gradient(rgba(189, 186, 186, 0.623), rgba(255, 255, 255, 0.3));
}

#sidebar .nav-link {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

#sidebar .nav-link.dropdown-toggle::after {
    margin-top: 8px;
    margin-left: 12px;
}